.product {

    &__text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        width: 100%;
        padding: 32px 0;
        border-top: 0.1rem solid hsl(245, 10%, 22%, 15%);
        border-bottom: 0.1rem solid hsl(245, 10%, 22%, 15%);
    }

    .product &__text {
        height: 100%;
    }
}