*,
*::before,
*::after {
    box-sizing: border-box;
}

// Html

html {
    height: 100%;
    font-size: $font-size-root;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    overflow-wrap: break-word;

    @if $enable-smooth-scroll {
        @media (prefers-reduced-motion: no-preference) {
            scroll-behavior: smooth;
        }
    }
}

// Body

body {
    margin: 0;
    font-family: $font-family-sans-serif-regular;
    font-size: $font-size-base;
    color: $grayish-dark-blue;
    background-color: $white;
    -webkit-text-size-adjust: 100%;
}

// Typography

h1,
h2,
h3 {
    margin-top: inherit;
    margin-bottom: 0;
}

p {
    margin-top: 0;
    margin-bottom: 2.4rem;
    line-height: 3rem;
    color:$grayish-dark-blue;
    opacity: 0.8;
}

// Lists

ol,
ul {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

ol ol,
ul ul,
ol ul,
ul ol {
    margin-bottom: 0;
}

// Strong

b,
strong {
    font-weight: $font-weight-bolder;
}

// Links

a {
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
}

// Figures

figure {
    margin: 0;
}

// Images and content

img,
svg {
    display: block;
    height: auto;
    max-width: 100%;
}

// Forms

button {
    border-radius: 0;
}

input,
button,
select,
optgroup,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button,
[type="button"],
// 1
[type="reset"],
[type="submit"] {
    -webkit-appearance: button; // 2

    @if $enable-button-pointers {
        &:not(:disabled) {
            cursor: pointer; // 3
        }
    }
}