// All variables for this project

// Colors

$slightly-cyan: hsl(168, 36%, 54%);
$dark-blue: hsl(205, 41%, 21%);
$grayish-dark-blue: hsl(245, 10%, 22%);

$very-light-grey: hsl(0, 0%, 98%);
$light-grey: hsl(240, 2%, 92%);
$bright-red: hsl(0, 90%, 57%);

$white: hsl(0, 0%, 100%);

// Font

$font-family-serif-regular : 'Ibarra-Real-Nova-Regular', serif;
$font-family-serif-bold : 'Ibarra-Real-Nova-Bold', serif;
$font-family-sans-serif-regular : 'Public-Sans-Regular', sans-serif;

$font-weight-regular: 400;
$font-weight-bolder: 700;

$font-size-root: 62.5%;
$font-size-base: 1.6rem;

// Title

$h1-font-size: 5rem;
$h2-font-size: 4rem;
$h3-font-size: 3.2rem;

// Options

$enable-smooth-scroll: true;
$enable-button-pointers: true;